body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .images {
    background-image:  url("../images/jobseeker.jpg");
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 40%;
    margin: 0px 50px 0px 50px;
    padding: 10px;
   
  }
  .user1{
    font-size:30px;
    padding: 50px 50px 10px 50px;
  }
  .input1{
    padding: 5px 0px 5px 0px;
    margin: 10px 10px 50px 40px;
    width: 25%;
  }
  .input2{
    padding: 5px 0px 5px 0px;
    margin: 10px 10px 50px 0px;
    width: 25%;
  }
  .link{
    color: rgb(0, 0, 0);
  }
  .search{
    margin: 50px 0px 0px 200px;
    width: 60%;
  }
  .result{
    
    float: left;
    width: 50%;
    margin: 10px 0px 50px 0px;
    padding: 0px 0px 10px 15px;
  }


  .view{
    background-color: rgba(255, 255, 255, 0.705);
    width: 80%;
    
    border: 1px ;
    margin: 20px 100px 100px 100px;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .title{
    
    color:#FF2D00 ;
  }
  .content{
    color:#000000a1;
  }
  .tips{
    font-size: 20px;
  }